<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<!-- <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script> -->
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<!-- <script async src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script> -->
<script async src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>

<body>
    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

    {% include ga.html %}

</body>

</html>
